#contenedorformulario{
    position: relative;
    width: 40%;
    left: 30%;
    top: 3em;
    box-shadow: 6px 10px 12px -1px rgba(0,0,0,0.84);
    -webkit-box-shadow: 6px 10px 12px -1px rgba(0,0,0,0.84);
    -moz-box-shadow: 6px 10px 12px -1px rgba(0,0,0,0.84);
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 40px;
    height: 52em;
    z-index: 1;

}

#btnguardar{
    position: relative;
    left: 10px;
}

#Formulario{
    position: relative;
    left: 45%;
    top: 3em;
    width: 20%;
}

#Volver{
    color: white;
}

#FormIcon{
    position: relative;
    width: 80px;
    height: 80px;
    left: 47.4%;
    bottom: 27px;
}

