#TableContainer{
    position: relative;
    top: 8em;
    width: 90%;
    left: 60px;
}

.table-striped,
.table-striped thead th,
.table-striped tbody tr {
    text-align: center;
}


#firstchild{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#lastchild{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}

.table-striped tbody tr {
    background-color: white;
}

.table-striped tbody tr:hover {
   /* background: rgb(166,161,255);
    background: linear-gradient(90deg, rgba(166,161,255,1) 0%, rgba(89,79,255,1) 53%, rgba(223,223,223,1) 100%, rgba(0,212,255,1) 100%);*/
    /*bfbfbf*/
    background-color:  #bfbfbf;
}


thead{
    background-color: #65afff;
}

#Tablepeople{
    position: relative;
    width: 78%;
    left: 4em;
    font-size: 28px;
    top: 4em;
}

#user{
    position: relative;
    width: 100px;
    left: 10.6em;
    height: 100px;
    top: 7em;
}

.container{
    position: center;
    width: 35%;
}

#inputfilter{
    width: 20%;
    position: relative;
    left: 66em;
    top: 7.4em;
}
.container-md{

}
